.form-container {
    background-color: #0b7d81;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 70% 0px;
}

.Forget-password {
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
}

.enter {
    height: 40px;
    width: 247px;
    margin-left: 20%;
    background-color: #0066ff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
}